@media screen and (max-width: 479px) {



    .main {
        overflow-x: hidden;
    }

    .container {
        padding-inline: 30px;

    }

    nav .logo img {
        width: 100px;
    }



    .burger-toggle{
        width: 100%;
        margin-top: 4rem;
        height:30rem;
        background-color: lightgoldenrodyellow;
        position: absolute;
        z-index: 1000;
        right: .01%;
        transition: ease-in-out 0.2;
        display: none;
        flex-wrap: wrap;
    }

    .md-hidden{
        display: none;
    }

    
    .md{
        padding-top: 2rem;
    }



    .hero {
        background-image: url('img1.png');
        height: 28rem;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    .burger {
        width: 14px;
        margin-top: 2px;
    }

    .burger-bg {
        background-color: white;
        padding-block: .2rem;
        border-radius: 150%;
        padding-inline: .7rem;
    }



    .hero_text {
        width: 112%;
        font-size: 1.85rem;
        line-height: 110%;
    }


    .hero_small {
        font-size: 1.1rem;
    }

    .hero_small_2 {
        margin-bottom: 5%;
        width: 100%;
        margin-top: 3%;
    }

    .hero_text_section {
        margin-top: 8%;
    }

    .hero_cta {
        font-weight: 600;
        margin-top: 1rem;
    }

    .hero_cta img {
        width: 14px;
        top: 1.5px;
    }

    /* ------------------------------BRANDS----------------------------------- */

    .absoulte {
        height: 100%;
        width: 100%;
        position: relative;
        left: 0%;
        margin-top: 0;
        border-radius: 0;
        padding-top: 26px;
        box-shadow: 0 0 3px grey;
        padding-bottom: 0rem;
    }


    .brands {
        flex-wrap: wrap;
        margin-top: 0;
        width: 100%;
        padding-inline: 20px;
    }

    .brands img {
        width: 7rem;
    }

    /* -------------------SECTION 2-------------------------- */

    .section-2-content {
        flex-direction: column;
        margin-top: 0rem;
    }

    .section-2-left {
        width: 100%;
        margin-top: 4rem;
    }

    .section-2-left h2{
        font-size: 1.8rem;
    }

    .section-2-right-box {
        gap: 25px;
        width: 18rem;
        padding-right: 70px;
        padding-left: 12%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 3%;
        margin-top: 3rem;
        box-shadow: 0 0px 45px grey;

    }

    .section-2 {
        width: 100%;
        height: 100%;
    }

    .section-2-right-bottom img{
        width: 50px;
    }
    
    .section-2-right-top p{
        width: 100%;
        font-size: 1rem;
    }
    
    .section-2-right-bottom{
        display: flex;
        gap: 1.5rem;
        width: 18rem;
        font-size: .75rem;
    } 

    .right-side-bold{
        font-weight: bold;
        color: rgb(50, 50, 50);
        font-size: .85rem;
    }

    /* ----------------SEC 3----------------------- */


    .section-3{
        width: 100%;
        height: 15rem;
    }
    
    .section-3-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15%;
        margin-top: 3rem;
    }
    
    .section-3-content p{
        width: 100%;
         color: rgb(75, 73, 73);
    }
    
    .section-3-content h1{
        width: 100%;
         color: rgb(75, 73, 73);
    }

    /* ------------------FOOTER----------------------------------- */


    footer{
        height: 63rem;
        width: 100%;
        background-color: #4c5038;
        padding-top: 5rem;
        
    }



    .top-footer {
        gap: 4.1rem;
    }



    .top-footer-left {
        gap: .5rem;
    }


    .top-footer-left h5 {
        font-weight: 500;
    }


    .top-footer-right .damn {
        font-weight: 500;
    }

    .top-footer-right {
        gap: .2rem;
    }

    .bottom_footer {
        gap: 4rem;
        margin-top: 15%;
        flex-wrap: wrap;
    }

    .bold {
        margin-bottom: 1rem;
    }

    .contact_ul {
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .line3 {
        display: none;
    }

    .final-footer {
        flex-direction: column;
        margin-top: 20%;
        gap: 1rem;
    }

    .final-footer img {
        width: 30%;
    }


    .line2 {
        top: 3%;
    }

    .line {
        display: none;
    }
}



@media screen and (max-width: 376px){
    .section-3-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15%;
        margin-top: 13rem;
    }
}